*{
  background-color: #1b262c;
  text-align: center;
}
.App {
  text-align: center;
  border: 1px solid #ffffff;
  width:70%;
  padding:40px;
  margin:auto;
  margin-top:140px;
  border-radius:20px;
}

.container{
  border: 1px dashed #ffffff;
  border-radius:20px;
  margin:30px;
  padding: 20px;
  color:#f1f1f1;
  width:800px;
  margin:auto;
  margin-top:20px;
}

.main{
  text-align:center;
}


input{
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  width:500px;
  border: 1px solid #ffffff;
  font-size:18px;
  color:#f1f1f1;
}

input::placeholder{
  color:#a19f98;
}

input:focus{
  outline:none;
}

button{
  padding: 10px 18px ;
  margin:10px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius:8px;
  font-size: 15px;
  color:#f1f1f1;
}
button:hover{
  cursor: pointer;
}
button:active{
  color:#1b262c;
  background-color:#f1f1f1;
  border:1px solid #f1f1f1;
  border-radius:8px;
  outline:none;

}
h2{
  color:#f1f1f1;
  font-size:40px;
  font-weight: bolder;
}
